<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
    </head>
    <body>
        <p>{{request.session.gold}}</p>
        <h1>Register an Owner</h1>
        <form class="" action="register_owner" method="post">
            {% csrf_token %}
            <input type="text" name="fname" placeholder="First Name"><br>
            <input type="text" name="lname" placeholder="Last Name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="confirm_pw" placeholder="Confirm Password"><br>
            <input type="submit" name="" value="Register">
        </form>
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </body>
</html>
